---
import Layout from "../../layouts/Layout.astro";
import { getCollection, render } from "astro:content";
import { SHOW_BUY_BUTTON } from "astro:env/server";
import AmazonLogo from "../../components/AmazonLogo.astro";
import BookScore from "../../components/BookScore.astro";
import BuyButton from "../../components/BuyButton.astro";

export async function getStaticPaths() {
  const books = await getCollection("books");

  return books.map((book) => ({
    params: { book: book.slug },
    props: { book },
  }));
}

const { book } = Astro.props;
const { data, slug } = book;
const { title, author, img, readtime, description, buy } = data;

const { Content } = await render(book);

export const prerender = true;
---

<Layout title={`${title} - Dev Books`}>
  <div class="flex gap-12" style="width: auto;">
    <aside class="flex flex-col items-center gap-4">
      <a href="/" class="hover:underline opacity-70">{"<- Go back"}</a>
      <img
        transition:name={`img-${slug}`}
        class="rounded w-72 h-auto"
        src={`/img/${img}`}
        alt={title}
      />
      <BookScore server:defer id={slug}>
        <span slot="fallback" class="text-xs opacity-70">Loading score ...</span
        >
      </BookScore>
      {SHOW_BUY_BUTTON && <BuyButton buy={buy} server:defer />}
    </aside>
    <main>
      <h1 class="text-4xl font-bold">
        {title}
      </h1>
      <div class="prose prose-invert">
        <Content />
      </div>
    </main>
  </div>
</Layout>
