---
import Layout from "../../layouts/Layout.astro";
import { getCollection, render } from "astro:content";
import { SHOW_BUY_BUTTON } from "astro:env/server";

export async function getStaticPaths() {
  const books = await getCollection("books");

  return books.map((book) => ({
    params: { book: book.slug },
    props: { book },
  }));
}

const { book } = Astro.props;
const { data, slug } = book;
const { title, author, img, readtime, description, buy } = data;

const { Content } = await render(book);
---

<Layout title={`${title} - Dev Books`}>
  <div class="flex gap-12">
    <aside>
      <a href="/" class="hover:underline opacity-70">{"<- Go back"}</a>
      <img
        transition:name={`img-${slug}`}
        class="rounded w-72 h-auto"
        src={`/img/${img}`}
        alt={title}
      />
    </aside>
    <main>
      <h1 class="text-4xl font-bold">
        {title}
      </h1>
      <div class="prose prose-invert">
        <Content />
      </div>
    </main>
  </div>
</Layout>
